.calendar{
    position: relative;
}

.calendar .calendar_days{
    position: relative;
    padding: 2px;
}

.calendar .calendar_day{

}

.calendar .calendar_month{
    width: 100%;
    font-size: 1.5em;
    position: absolute;
    right: 10px;
    top: -30px;
}