.calendar{

}

.calendar .calendar_month{
    font-size: 1.1em;
    min-height: 21px;
    text-align: center;
    margin: 5px 0;
}

.calendar .calendar_days{
    padding: 2px;
}

.calendar .calendar_md_top-offset{
    margin-top: 100px;
}

.calendar .calendar_col-2-top-offset{
    margin-top: 30px;
}

.calendar .calendar_events{
    margin-top: 20px;
}

.calendar svg {
    padding: 5px;
}

.calendar button.calendar_btn {
    -webkit-appearance: none;
    background: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
    width: 60px;
    height: 60px;
    display: block;
}

.calendar button.calendar_btn-left {
    margin-top: 50px;
}

.calendar button.calendar_btn-right {
    margin-top: 50px;
}

.calendar button.calendar_btn-up {
    margin: 0 auto;
}

.calendar button.calendar_btn-down {
    margin: 0 auto;
}

.calendar button.calendar_btn:hover polyline,
 .calendar button.calendar_btn:focus polyline {
     stroke-width: 4;
 }

.calendar button.calendar_btn:active polyline {
    stroke-width: 6;
    transition: all 100ms ease-in-out;
}

.calendar polyline {
    stroke: #000000;
    stroke-width: 2;
    transition: all 250ms ease-in-out;
}