<div class="calendar">
    <div class="row">
        <div class="col-sm-6 col-md-12">
            <div class="col-sm-12 col-md-offset-1 col-md-1">
                <button (click)="showPreviousDays()">
                    Previous
                </button>
            </div>

            <div *ngFor='let day of days' class="calendar_days col-sm-12 col-md-1">
                <div class="calendar_month">
                    {{day.month}}
                </div>
                <calendar-day [day]="day" (onSelect)="onDaySelect($event)" class="calendar_day"></calendar-day>
            </div>

            <div class="col-sm-12 col-md-1">
                <button (click)="showNextDays()">
                    Next
                </button>
            </div>
        </div>
    </div>
    <calendar-events [day]="selectedDay" [events]="selectedDay.events" (afterEventAdded)="afterEventAdded($event)"></calendar-events>
    <calendar-next-event></calendar-next-event>
</div>