:host{
    display: block;
}

.calendar-events{

}

.calendar-events .calendar-events_body{

}

.calendar-events .calendar-events_header{
    font-size: 1.2em;
    font-weight: bold;
}

.calendar-events_event .calendar-events_event_time{
    font-size: 1em;

}

.calendar-events_event .calendar-events_event_title{
    font-size: 1em;
    font-weight: bold;
}

.calendar-events .calendar-events_add{
    -webkit-appearance: none;
    background: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
    display: block;
}

.calendar-events .calendar-events_add.calendar-events_add-pc{
    position: absolute;
    right: 20px;
    top: 100%;
}

.calendar-events .calendar-events_add.calendar-events_add-mobile{
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.calendar-events svg{
    width: 60px;
    height: 60px;
    padding: 5px;
    display: block;
}

.calendar-events .calendar-events_add circle{
    stroke-width: 0;
    stroke: crimson;
    fill: crimson;
}

.calendar-events button.calendar-events_add:hover circle{
    stroke: coral;
    fill: coral;
    transition: all 100ms ease-in-out;
}

.calendar-events button.calendar-events_add:active circle {
    stroke: darkmagenta;
    fill: darkmagenta;
    transition: all 100ms ease-in-out;
}