<div class="calendar-events">
    <div *ngIf="events.length" class="calendar-events_body">
        <div class="calendar-events_header">
            Events
        </div>

        <div *ngFor="let event of events" class="calendar-events_event row">
            <div class="calendar-events_event_time col-xs-12 col-md-3">
                {{event.start.format('hh:mm A')}} - {{event.end.format('hh:mm A')}}
            </div>
            <div class="calendar-events_event_title col-xs-11 col-md-8">
                <div class="calendar-events_event_icon" [ngStyle]="{'background': event.iconColor}">
                </div>
                {{event.title}}
            </div>
            <button type="button" class="close" (click)="removeEvent(event)">&times;</button>
        </div>
    </div>
    <button (click)="addEvent()" class="calendar-events_add calendar-events_add-pc hidden-xs hidden-sm">
        <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 100 100" (click)="addEvent()">
            <circle cx="50" cy="50" r="50"></circle>
            <path stroke="white" stroke-width="10" stroke-linecap="round" stroke-linejoin="round" d="M20,50 h10,50 M50,20 v50,10" ></path>
        </svg>
    </button>

    <button (click)="addEvent()" class="calendar-events_add calendar-events_add-mobile hidden-md hidden-lg">
        <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 100 100" (click)="addEvent()">
            <circle cx="50" cy="50" r="50"></circle>
            <path stroke="white" stroke-width="10" stroke-linecap="round" stroke-linejoin="round" d="M20,50 h10,50 M50,20 v50,10" ></path>
        </svg>
    </button>
</div>